requests>=2.31.0
beautifulsoup4>=4.12.0
python-dateutil>=2.8.2
tqdm>=4.66.0
ipykernel
langchain-text-splitters
langchain
langchain-community
langchain-core
langchain-openai
numpy
torch
sentence-transformers
python-dotenv
pinecone
google-api-python-client
google-auth
tzdata